<div class="card shadow mb-2">
    <img src="assets/img/other/placeholder.jpg" class="card-img-top" alt="Category thumbail image"/>
    <div class="card-body">
        <h3 class="card-body">
            Category Name
        </h3>
        <p class="card-text">Category description</p>
    </div>

    <a href="/" class="btn btn-primary streched-link"> View posts </a>
</div>